@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
/* @import url('https://fonts.googleapis.com/css?family=Miltonian'); */
body {
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 80%;

  /* background: #000; */
  /* font-family: 'Nunito', sans-serif; */
}
.icon {
  font-size: 10rem;
  margin: 10px;
}
.node {
  font-size: 15rem;
}

/* 
.header-container {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
} */

.header {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}
/* .header-list {
  display: inline-block;
} */
li {
  display: inline-block;
  margin: 15px;
  font-size: 1.5rem;
  /* font-family: 'Miltonian', cursive; */
}

.menu-item {
  color: palevioletred;
}
.menu-item:hover {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}

/*====== p5.js =====*/
.drawing {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

.landing {
  z-index: 1;
  position: absolute;
  /* left: 700px;
  top: 100px; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* margin-top: 10%; */

  /* color: #113865; */
}
.landing-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing-container {
  /* margin: 0 auto;
  width: 70%; */
  /* background-color: khaki; */
  /* text-align: center;
  margin-bottom: 50px; */
  /* color: #113865; */
  max-width: 50%;
  padding-bottom: 10%;
}

h1 {
  font-weight: 500;
  font-size: 4rem;
}
h3 {
  font-weight: 400;
}
.blue {
  color: #04b2b1;
}
h4 {
  font-size: 3rem;
  font-weight: 500;
  color: #04b2b1;
  /* padding-top: 5px; */
}

/*===== Portfolio =====*/

.portfolio-container {
  background: #dcefef;
  text-align: center;
}

.portfolio-heading {
  font-size: 3rem;
  /* font-weight: 500; */
  padding-top: 30px;
  color: palevioletred;
  /* font-family: 'Miltonian', cursive; */
}

.portfolio-row {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-column {
  /* height: 500px; */
  padding: 10px;
  /* border: solid pink 1px; */
  /* text-align: center; */
  /* display: table; */
  margin-bottom: 30px;
}

.content {
  /* margin: 5px; */
  height: 100%;
  padding: 20px 20px 10px;
  border: solid #04b2b1 1px;
  background: white;
}

.screenshot-container {
  text-align: center;
}

.screenshot {
  width: 100%;
  max-width: 500px;
  height: 'auto';
  border: #113865 solid 2px;
}

.project-skills {
  font-size: 2rem;
  /* color: #04b2b1; */
  margin-top: 15px;
  color: #113865;
}

.project-name {
  font-size: 3rem;
  font-weight: 500;
  color: #113865;
}

.project-link-btn {
  background: #04b2b1;
  color: white;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
  border: none;
  font-size: 2rem;
  padding: 10px;
}

/* Contact */

.contact-container {
  background: #113865;
  text-align: center;
  color: white;
}

.contact-font {
  font-size: 4rem;
  padding: 20px;
  /* font-family: 'Miltonian', cursive; */
}

ul {
  text-align: center;
}

span {
  font-size: 4em;
  margin: 20px;
}
